* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

:root {
  --black_color: #000;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  /* 
    flex-flow is like:
    flex-direction: column;
    flex-wrap: nowrap;
    */
}

.header {
  background: url(../images/mountain.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}

.menu {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  align-items: center;
}

/* 
    flex with three properties it's like:
    flex: flex-grow | flex-shrink | flex-basis
    flex-grow: This property specifies how much of the remaining space in the flex container should be assigned to the item.
    flex-shrink: fit the item
    flex-basis: set the initial main size of a flex item.
*/

.logo {
  flex: 1 1 auto;
}

.logo a {
  color: #2e06c0;
  font-size: 30px;
}

.logo a:hover {
  color: #160064;
}

.nav {
  flex: 5 1 auto;
}

.nav a {
  color: #2e06c0;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px; /* adding space between the letters */
}

.nav a:hover {
  color: #160064;
}

.social {
  flex: 1 1 auto;
  display: flex;
}

.social a {
  font-size: 18px;
  color: #2e06c0;
  padding: 0 5px;
}

.social a:hover {
  color: #160064;
}

.main_text {
  background: #aa77ff;
}

h1 {
  background: #c9eeff;
}

.section {
  background: var(--black_color);
  display: flex;
}

.articles {
  background: #655dbb;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.article {
  background: #bface2;
  flex: 1 1 40%;
}

.navigation {
  background: #ea8fea;
  flex: 1 1 100%;
}

.aside {
  background: #3a1078;
  flex: 1 1 auto;
}

.advertising {
  background: #ffa3fd;
}

.footer {
  background: var(--black_color);
  display: flex;
  justify-content: center;
}

.children {
  background: #ea8fea;
  width: 300px;
}

@media (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .articles {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .aside {
    flex-direction: column;
  }
}
