* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --black_color: #000;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  /* 
    flex-flow is like:
    flex-direction: column;
    flex-wrap: nowrap;
    */
}

.padd {
  padding: 0 50px;
}

.header {
  background: url(../images/city.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
}

.menu {
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row nowrap;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

/* 
    flex with three properties it's like:
    flex: flex-grow | flex-shrink | flex-basis
    flex-grow: This property specifies how much of the remaining space in the flex container should be assigned to the item.
    flex-shrink: fit the item
    flex-basis: set the initial main size of a flex item.
*/

.logo {
  flex: 1 1 auto;
}

.logo a {
  color: #fff;
  font-size: 30px;
}

.logo a:hover {
  color: #343434;
}

.nav {
  flex: 5 1 auto;
}

.nav a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px; /* adding space between the letters */
}

.nav a:hover {
  color: #343434;
}

.social {
  flex: 1 1 auto;
  display: flex;
}

.social a {
  font-size: 18px;
  color: #fff;
  padding: 0 5px;
}

.social a:hover {
  color: #343434;
}

.main_text {
  height: 580px;
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Lora", serif;
  font-size: 21px;
  color: #fff;
  font-weight: 300;
  text-align: center;
  line-height: 1.6;
}

.section {
  background: #f7f7f7;
  display: flex;
}

.articles {
  background: #f7f7f7;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}

.article {
  flex: 1 1 45%;
  color: #444;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 10px 10px 0 0px;
  background: #ececec;
}

.article img {
  width: 100%;
}

.article a {
  color: #fff;
  font-size: 13px;
  padding: 10px;
  background: #000;
  margin: 10px 0;
  display: inline-block;
}

.article a:hover {
  background: #546cc3;
}

h3 {
  color: #fff;
  font-size: 13px;
  padding: 10px 0;
  margin-top: -80px;
}

h2 {
  color: #fff;
  font-size: 25px;
  text-transform: uppercase;
  padding: 0px 0 10px 0;
}

.navigation {
  background: #000;
  flex: 1 1 100%;
  margin: 10px 10px 0 0px;
}

.navigation a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

.aside {
  flex: 1 1 auto;
  margin: 10px 5px 10px 0;
}

.aside img {
  width: 100%;
}

h4 {
  background: #000;
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
}

.footer {
  background: var(--black_color);
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.children {
  text-align: center;
}

.children a {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

@media (max-width: 800px) {
  .section {
    flex-direction: column;
  }
  .menu {
    flex-direction: column;
    height: auto;
  }
  .aside {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .articles {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .aside {
    flex-direction: column;
  }
}
